$primary: #333333;
$light: #333333;
$background-light: #fbfbfb;
$blue: #00308f;
$purple: #662d91;
$green: #355e3b;
$mustard: #e1ad01;
$orange-red: orangered;
$grid-spacing--phone: 1.5rem;
$grid-spacing--tablet: 4rem;
$grid-spacing--laptop: 7rem;

// :root {
// 	font-size: 10px;
// }

::selection {
	background-color: $orange-red;
}

.bg--light {
	background-color: $background-light;
}
.text-primary {
	color: $primary;
}
.text-blue {
	color: $blue;
}
.text-purple {
	color: $purple;
}
.text-green {
	color: $green;
}

.bg-background {
	background-color: $background-light;
}
.line-height--1-3 {
	line-height: 1.3;
}

.w-full {
	width: 100%;
}

.inline {
	display: inline;
}
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.grid-cols-2 {
	grid-template-columns: repeat(2, 1fr);
}

.text-underline {
	text-decoration: underline;
}
.text-underline-offset {
	text-underline-offset: 0.2em;
}
.text-underline-thickness {
	text-decoration-thickness: 0.05em;
}
.max-w-550 {
	max-width: 550px;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page-container {
	grid-template-columns: 1fr 2fr;
	gap: $grid-spacing--laptop;
	margin-left: $grid-spacing--laptop;
	margin-right: $grid-spacing--laptop;
	animation: fadeInAnimation ease-out 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	@media (max-width: 600px) and (orientation: portrait),
		(max-width: 600px) and (orientation: landscape) {
		grid-template-columns: 1fr;
		gap: $grid-spacing--phone;
		margin-left: $grid-spacing--phone;
		margin-right: $grid-spacing--phone;
	}
}

// .hr {
// 	height: 4px;
// 	border: 0;
// 	margin: 0.2em auto;
// }

.bg--,
.hr-- {
	&blue {
		background-color: $blue;
	}
	&purple {
		background-color: $purple;
	}
	&green {
		background-color: $green;
	}
}

.order {
	&-1 {
		order: 1;
	}
	&-2 {
		order: 2;
	}
}

.main-column {
	grid-column: 2 / 3;
	margin-top: 6rem;
	flex-grow: 1;
	.section:not(:last-of-type) {
		margin-bottom: 6rem;
	}

	h3:not(:first-of-type) {
		margin-top: 4rem;
	}
}

.work-history-item {
	margin-bottom: 4rem;
	ul li {
		margin-bottom: 2rem;
	}
	p {
		margin-bottom: 1.5rem;
	}
}

aside {
	grid-column: 1 / 2;
	@media (max-width: 600px) and (orientation: portrait),
		(max-width: 600px) and (orientation: landscape) {
		grid-column: 1 / 3;
	}
}

footer {
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 3rem;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	.copyright-notice {
		margin: 0 0 0.5rem 0.2rem;
	}
	@media (max-width: 600px) and (orientation: portrait),
		(max-width: 600px) and (orientation: landscape) {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.angle-bullet {
	&::before {
		content: '>';
		display: inline-block;
		margin-right: 0.3em;
		vertical-align: middle;
		background-repeat: no-repeat;
		font-weight: bold;
	}
	&--blue::before {
		color: $blue;
	}
	&--purple::before {
		color: $purple;
	}
	&--green::before {
		color: $green;
	}
}

.education-list {
	&__li {
		margin-bottom: 2rem;
	}
	&__li:last-child {
		margin-bottom: 4rem;
	}
}

.hover-animation {
	display: inline-block;
	position: relative;
	cursor: pointer;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 3px;
		bottom: 0;
		left: 0;
		transform-origin: bottom right;
		transition: transform 0.5s ease-in-out;
	}
	&:hover {
		transition: 0.4s ease-in-out;
		&::after {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
	&--purple {
		&::after {
			background-color: $purple;
		}
		&:hover {
			color: $purple;
		}
	}
	&--green {
		&::after {
			background-color: $green;
		}
		&:hover {
			color: $green;
		}
	}
}

@mixin no-hover-styles() {
	text-decoration: underline;
	&--accent-1 {
		color: $blue;
	}
	&--accent-3 {
		color: $green;
	}
}

@media (hover: none) {
	.hover-animation {
		@include no-hover-styles();
	}
}

@media (max-width: 600px) and (orientation: portrait),
	(max-width: 600px) and (orientation: landscape) {
	.page-container {
		grid-template-columns: 1fr;
		gap: $grid-spacing--phone;
		margin-left: $grid-spacing--phone;
		margin-right: $grid-spacing--phone;
	}
	.main-column {
		grid-column: 1 / 3;
		margin-top: 2rem;
	}
	aside {
		grid-row-start: 2;
		margin-top: 2rem;
	}
	.link-list li {
		min-height: 48px;
	}
	footer {
		grid-row: 3 / 4;
	}
}
