@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--global-typescript: #3178c6;
	--global-typescript-dark: #00273f;
	--global-typescript-light: #358ef1;
	/* Light mode styles */
	--font-family-sans: var(--font-poppins), 'Arial', sans-serif;
	--color-text: var(--global-typescript-dark);
	--color-primary: var(--global-typescript);
	--color-secondary: theme('colors.gray.400');
	--color-border: var(--color-primary);
}

.dark {
	--font-family-sans: var(--font-poppins), 'Arial', sans-serif;
	--color-text: theme('colors.slate.50');
	--color-background: var(--global-typescript-dark);
	--color-primary: var(--global-typescript-light);
}

html,
body {
	font-family: var(--font-family);
	background-color: var(--color-background);
	color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

[data-theme='light'] {
	color-scheme: light;
}

[data-theme='dark'] {
	color-scheme: dark;
}
